@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

/* header */
.head-bar {
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
}

ul {
    list-style: none;
}

.navbar {
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(111, 111, 111, 0.24);
}

.nav-menu {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu-bar a {
    font-size: xx-small;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* section one */
.section-one {
    height: 100vh;
    padding-top: 3rem;
    margin-top: 0;
    background-color:  #f9f9f9;
}

.sec-div {
    place-items: center;
    display: flex;
    padding-top: 1rem;
    gap: 1rem;
    padding: 0.5rem 3rem;
    justify-content: space-around;
}

.sec-div-text > h1 {
    line-height: 130%;
    font-size: 2rem;
    letter-spacing: 2px;
}

.sec-div-text > p {
    font-size: smaller;
    font-weight: 200;
    letter-spacing: 1px;
    padding-top: 1rem;
}

.sec-div-logo > a {
    letter-spacing: 10px;
    line-height: 250%;
    font-size: larger;
}

.sec-div-text > b {
    font-size: x-small;
    font-weight: 400;
}

.img-profile {
    display: flex;
    flex-direction: row;
    width: 25%;
    border-radius: 30%;
    border: 2px solid black;
}

/* secrtion two */
.section-two {
    height: 100vh;
    margin-top: 25px;
    background-color: white;
}

/* section three */
.section-three {
    height: 100vh;
    margin-top: 25px;
}

